h1 {
	font-family: 'Akronim', cursive;
}

p {
	font-family: 'Lovers Quarrel', cursive;
}

input[type='color']::-webkit-color-swatch-wrapper {
  	padding: 0;
}

input[type='color']::-webkit-color-swatch {
 	border: none;
 	border-radius: 50px;
 	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer p {
	font-family: 'Eater', cursive;
}